<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Friends</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body>
		<h1>My Friends</h1>
    	
        <div th:each="friend : ${friends}">
            <span th:text="${friend.name}"></span>
       	</div>
       	
       	<h2>Add new Friend to list</h2>
       	
       	<form action="#" th:action="@{/add-index}" th:object="${name}" method="post">
            <p>First Name: <input type="text" id="name" name="name" placeholder="Name" /></p>
            <input type="submit" value="Submit" />
        </form>
    
	</body>
</html>